/*main color -> #222831*/
/* secondary color -> #31363F*/
/* 2l lon 2l metarshm -> #76ABAE*/
/* bright color -> #EEEEEE*/
.root{
    -fx-background-color: #1C1C1C;
}

#processesList{
    -fx-background-color: black;

}

#processesList .process-container {
    /* Add your styling for the HBox container here */
    -fx-background-color: white;

}

#processesList .remove-button {
    /* Add your styling for the remove button here */
    -fx-background-color: red;
    -fx-text-fill: black;
}

#processesList .remove-button:hover {
    /* Add your styling for the remove button here */
    -fx-background-color: white;
    -fx-text-fill: black;
}

/* ToggleButtonStyle.css */
.toggle-button {
    -fx-background-color: #EEEEEE; /* Default background color */
    -fx-text-fill: #31363F; /* Default text color */
    -fx-font-size: 14px; /* Font size */
    -fx-padding: 5px 10px; /* Padding */
    -fx-background-radius: 15px; /* Border radius */
}

.toggle-button:selected {
    -fx-background-color: #76ABAE; /* Background color when selected */
    -fx-text-fill: #EEEEEE; /* Text color when selected */
}

.toggle-button:hover {
    -fx-background-color: #76ABAE; /* Background color when hovered */
}

